@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

@import 'variables.scss';
@import 'nule.scss';
@import 'mixins.scss';

@import 'main.scss';
@import 'header.scss';
@import 'toolbar.scss';
@import 'formula.scss';
@import 'table.scss';

* {
  font-family: 'Roboto', sans-serif;
}

.excel {
  color: #888;
  font-size: 0.8rem;
}
