.table {
  overflow-x: auto;
  .row {
    display: flex;
    &__info,
    &__column,
    &__cell {
      position: relative;
      min-width: $min-width-cell;
      width: $width-cells;
      @include center-elements;
      text-align: center;
      padding: 6px 4px 5px 3px;
      flex-shrink: 0;
    }

    &__info,
    &__cell {
      border-bottom: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
    }

    &__cell.selected,
    &__cell:focus {
      border: 1px solid $focus-color;
      box-shadow: 0 0 5px $focus-color;
      padding: 5px 3px;
    }

    &__info {
      min-width: $min-width-cell/2;
      width: $min-width-cell/2;
    }
  }
  &__header {
    .row__column {
      background: $gray-back;
      border-bottom: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
    }
    .row__info {
      background: $gray-back;
      border-bottom: 3px solid $gray-border;
      border-right: 3px solid $gray-border;
    }
  }

  .resize-row,
  .resize-col {
    position: absolute;
    background: $focus-color;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 1000;
    &:hover {
      opacity: 1 !important;
    }
  }
  .resize-row {
    height: $resizer;
    left: 0;
    &:hover {
      cursor: row-resize;
    }
  }

  .resize-col {
    width: $resizer;
    top: 0;
    &:hover {
      cursor: col-resize;
    }
  }

  .resize-now {
    background: #e6f4ea;
    color: black;
  }
}
