.table {
  width: 100%;
  overflow-x: auto;
  .row {
    display: flex;
    &__info,
    &__column,
    &__cell {
      min-width: $min-width-cell;
      width: $width-cells;
      @include center-elements;
      padding: 6px 4px 5px 3px;
    }

    &__info,
    &__cell {
      border-bottom: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
    }

    &__cell.selected,
    &__cell:focus {
      border: 1px solid $focus-color;
      box-shadow: 0 0 5px $focus-color;
      padding: 5px 3px;
    }
  }
  &__header {
    .row__column {
      background: $gray-back;
      border-bottom: 1px solid $gray-border;
      border-right: 1px solid $gray-border;
    }
    .row__info {
      border-bottom: 3px solid $gray-border;
      border-right: 3px solid $gray-border;
    }
  }
}
