// table-page var-s

$header-height: 45px;

$toolbar-height: 30px;

$formula-height: 30px;

$width-cells: 100px;
$min-width-cell: 100px;

// main-page var-s

$dashboard-height: 250px;
$add-item-size: 200px;

//colors

$header-icons-color: darkred;
$header-input-color: #e5e5e5;

$focus-color: #1a73e8;

$gray-border: #dadce0;
$gray-back: #eee;
